body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 320px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
        }
}
@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    }
}
/* header */
.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation {
    display: flex;
    align-items: center;
}
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    padding-left: 17px;
    padding-right: 17px;

}
.logo_part {
    color: #2E2F42;
}
.nav-list {
    display: none;
}
.contacts {
    font-style: normal;
    margin-left: auto;
    display: none;
}

.menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
@media screen and (min-width: 768px) {

.menu-btn {
    display: none;
}

.logo {
    margin-right: 120px;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.header_list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_list:hover,
.header_list:focus {
    color: #404bbf;
}
.studio {
    position: relative;
    color: #404bbf;
}

.studio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404BBF;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}

.contacts {
    display: block;
}
.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  
}
.contacts_link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts_link:hover,
.contacts_link:focus {
    color: #404BBF;

}

}
@media screen and (min-width: 1158px) {
.logo {
    margin-right: 76px;
}
.contacts-list {
    flex-direction: row;
    gap: 40px;
}
.contacts_link {
    font-size: 16px;
    line-height: 1.15;
}
}

/* mob-menu */
.mob-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFF;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    pointer-events: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.menu-close-btn {
    margin-left: auto;
    margin-bottom: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    */
}
.menu-close-btn:hover,
.menu-close-btn:focus {
    background-color: #404BBF;
    border: none;
}

.menu-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover>.menu-close-icon,
.menu-close-btn:focus>.menu-close-icon {
    fill: #FFFFFF;
}


.menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 168px;
}

.menu_item {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.studio-menu {
color: #404BBF;
}

.contacts-menu {

    
}

.contacts-menu-list {
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 24px;
}

.contacts_menu_link {
    color:#434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.tel {
    color: #4D5AE5;
}

.soc-menu {
    display: flex;
    gap: 40px;
    margin-top: 48px;

}

.soc-menu-list {
    width: 40px;
    height: 40px;
}

.soc-menu-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-menu-link:hover,
.soc-menu-link:focus {
    background-color: #404bbf;
}

.soc-icon {
    fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
.mob-menu {
    display: none;
}
}
@media screen and (min-width: 1158px) {
    .mob-menu {
        display: none;
    }
}

/* section1 */
.page_section {
    background-color: #2E2F42;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/sectionfirst/Dark-bg-mob.jpg);
    max-width: 320px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    }
@media screen and (min-device-pixel-ratio: 2), 
screen and (min-resolution: 192dpi), 
screen and (min-resolution: 2dppx)
 { 
    .page_section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/sectionfirst/Dark-bg-mob-2x.jpg);
    }
}


.title {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 72px;
    max-width: 216px;
}
.title_button {
    background-color: #4D5AE5;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.title_button:hover,
.title_button:focus {
    background-color: #404BBF;

}

.title_button::after {
    content: '';
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
    .page_section {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/sectionfirst/Dark-bg-tab.jpg);
        max-width: 768px;
            }
 @media screen and (min-device-pixel-ratio: 2),
 screen and (min-resolution: 192dpi),
 screen and (min-resolution: 2dppx) {
     .page_section {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/sectionfirst/Dark-bg-tab-2x.jpg);
     }
 }
     .title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        max-width: 496px;
            }
        }
@media screen and (min-width: 1158px) {
    .page_section {
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/sectionfirst/people-office1x.jpg);
        max-width: 1158px;
    }
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .page_section {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/sectionfirst/people-office2x.jpg);
            }
        }
    .title {
        margin-bottom: 48px;
    }

}  
/* section2  */
.section_benefits {
background: #FFF;
padding: 96px 0;
}
.visually-hidden {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.benefits-list {
   flex-basis: 288px; 
   

}

.benefits-icon {
}
.benefits-card {
    
        width: 264px;
        height: 112px;
        background-color: #F4F4FD;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        margin-bottom: 8px;
        align-items: flex-start;
        justify-content: center;
        display: none;
        }
    

.benefits_item {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

.benefits_text {
    color: #434455;;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 288px;
    align-self: stretch;
}

@media screen and (min-width: 768px) {
.section_benefits {
display: flex;

    
}
.benefits {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px; 
    


}
.benefits-list {
flex-basis: calc((100% - 24px) / 2);

}
.benefits-card {

}
.benefits_item {
text-align: left;
margin-bottom: 8px;
}

.benefits_text {
width: 356px;
}
}

@media screen and (min-width: 1158px) {
    .section_benefits {
    padding: 120px 0;
}
.benefits {
    gap: 24px;
}
.benefits-list {
    flex-basis: calc((100% - 72px) / 4);
}
.benefits-card {
    display: flex;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;

}

.benefits_item {
    margin-bottom: 0;
}

.benefits_text {
    width: 100%;
}

}
/* section3 */
.section_team {
background: #F4F4FD;
padding: 96px 0;
}

.team_title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 72px;
}

.team_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.team_card {
    background: #FFF;
    max-width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-image {
    display: block;
}

.card {
    padding: 32px 0;
}

.team_item {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02;
    margin-bottom: 8px;
}

.team_text {
    color:#434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.icon-group {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-list-icon {
    width: 40px;
    height: 40px;
}

.team-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-link:hover,
.team-icon-link:focus {
    background-color: #404bbf;
}
.team-icon {
    fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
        .team_list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 64px;
        }
    
        .team_card {
            flex-basis: calc((100% - 24px) / 2);
            width: 100%;
            
        }
.icon-group {
    column-gap: 24px;
    row-gap: 64px;
}
    
        .team-icon-link:hover,
        .team-icon-link:focus {
            background-color: #404bbf;
        }
    
        .team-icon {
            fill: #f4f4fd;
        }
}
@media screen and (min-width: 1158px) {
    .section_team {
            padding: 120px 0;
        }
    .team_list {
             gap: 24px;
}
.team_card {
    width: calc((100% - 72px) / 4);
    
}
.icon-group {
    gap: 24px;
}
}
/* section4 */
.portfolio {
    background-color: #FFF;
    padding-top: 96px;
    padding-bottom: 96px;
    margin-bottom: 0;
    margin-right: 0;
}

.portfolio_title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02rem;
    text-transform: capitalize;
    margin: o auto;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-card {
    
    background: #FFF;
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover {
    border: 1px solid #F4F4FD;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-card:hover .hover-container-text {
    transform: translateY(0%);
}

.portfolio-img {
    display: block;
}
.img-card {
    
    position: relative;
    overflow: hidden;
}

.hover-container-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    text-align: left;
}

.portfolio_item {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio_text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
.portfolio-list {

    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
}
.portfolio-card {
    width: calc((100% - 24px) / 2);
    
}

}
@media screen and (min-width: 1158px) {
    .portfolio-list {
    gap: 24px;
    }

    .portfolio-card {
        width: calc((100% - 48px) / 3);
    }
}
/* footer */
.page_footer {
    background-color: #2E2F42;
    padding: 96px 0;;
}

.container-footer {
    display: flex;
   flex-direction: column;
    gap: 72px;
    text-align: center;
}


.page_logo {
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.page_logo_part {
    color: #F4F4FD;
}

.text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   text-align: left;

}


.icon-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
   
}

.icon-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.icon-item {
    width: 40px;
    height: 40px;
}

.icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-icon {
    fill: #F4F4FD;
}

.icon-link:hover,
.icon-link:focus {
    background-color: #31d0aa;
}
.subscribe-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.footer-label {
    color: #FFF;
    letter-spacing: 0.02em;
    display: block;
}

.footer-input {
    width: 288px;
    height: 40px;
    border: 1px solid #FFF;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}
.footer-input::placeholder {
    color: #ffffff;
}

.subscribe-btn {
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFF;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);



}
.footer-input:active,
.footer-input:focus {
    outline: none;
}
.subscribe-icon {
    fill: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
}
@media screen and (min-width: 768px) {
    .container-footer {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        text-align: left;
        padding-left: 108px;
        padding-right: 108px;


    }

    .text {
        width: 264px;
    }

    .footer-input {
        width: 264px;
    }

    .subscribe-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }


}
@media screen and (min-width: 1158px) {

.container-footer {
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 0;
    }
.link-text-footer {
    margin-right: 120px;
        }

.text {
    margin-right: auto;
}

}
/* modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    z-index: 1050;
    opacity: 0;
    margin: 0;
    padding: 0;
    pointer-events: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    height: 623px;
    background-color: #FCFCFC;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 16px 24px 16px;
    margin-left: auto;
    margin-right: auto;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus,
.modal-close-btn:active {
    background-color: #404BBF;
    border: none;
}

.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-icon {
    fill: #ffffff;
}
.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
}
.modal-close-btn:active .modal-close-icon {
    fill: #ffffff;
}

.backdrop-text {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.backdrop-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding-left: 34px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}
.backdrop-input:focus,
.backdrop-input:active {
    border-color: #4D5AE5;
}

.backdrop-input:focus+.modal-icon {
    fill: #4D5AE5;
}
.backdrop-input:active+.modal-icon {
    fill: #4D5AE5;
}
.name-div {
    margin-bottom: 8px;
}

.label-name {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    width: 100%;
}

.modal-inp {
    position: relative;
}


.modal-icon {
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-div-comment {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    font-size: 12px;
    padding: 8px 16px;
    resize: none;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus,
.modal-textarea:active {
    border-color: #4D5AE5;
}
.modal-btn {
    background-color: #4D5AE5;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
    border-color: #4D5AE5;

}

.modal-btn::after {
    content: '';
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.name-div-policy {
    margin-bottom: 24px;
}
.name-div-policy input[type="checkbox"]:checked+label .span-label {
    fill: #F4F4FD;
    background-color: #404BBF;
    border: none;
}
.name-div-policy input[type="checkbox"]checked+label .span-label {
    border-color: #4d5ae5;
}
.check-text {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    display: inline-flex;
    align-items: center;
    gap: 8px;
   
}

.span-label {
    min-width: 16px;
    min-height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}

.label-link {
    color: #4D5AE5;
    display: inline-block;
    text-decoration: underline;
}
.check-input:checked+.check-text>span {
    fill: #F4F4FD;
    background-color: #404BBF;
    border: none;
}
@media screen and (min-width: 768px) {

.modal-content {
    padding: 72px 24px 24px 24px;
    width: 408px;
    height: 584px;
}
}
@media screen and (min-width: 1158px) {

}